.select-wrap {
    position: relative;

    &::after {
        content: "\25BE";
        position: absolute;
        right: 0;
        top: 0;
        padding: 0.75rem;
    }
}

.select {
    border: 1px solid $lightgrey;
    appearance: none;
    padding: 0.75rem;
    background-color: $white;
    font-size: 0.875rem;
    width: 100%;
    padding-right: 1.875rem;

    &:focus {
        outline: none;
        border: 1px solid darken($lightgrey, 30%);
    }
}
